@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');
:root {
    --clr-black: hsl(0 0 0 100%);
    --clr-light-grey: hsl(231 77% 90%);
    --clr-light-black: hsl(230 35% 7%);
    --clr-font-family1: "Barlow+Condensed", sans-serif;
    --clr-font-family2: "Bellefair", sans-serif;

}

*,
*::before,
*::after {
    box-sizing: border-box;
}
li,a,p{
    text-decoration: none;
    list-style: none;
    color:white;
    cursor: pointer;
}
span {
    color: white;
    cursor: pointer;
}
/* xxxx    SETTINGS */

body{
    /* padding:3rem; */
    height:667px;
    width: 375px;
    font-family: var(--clr-font-family1);
    margin:1em;
    background: url(./assets/home/background-home-mobile.jpg ) no-repeat;
    
}
/* header {
    position: fixed;
    width: 100%;
    text-align: center;
} */
nav{
    position: absolute;
    text-align: right;
    top: 100%;
    right: 0;
    width: 100%;
    
}
.nav-toggle{
    display: none;
}
.nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav li{
    margin-bottom: 1em;
        
}

    
    .nav-toggle-label span,
    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        display: block;
        height: 3px;
        width: 24px;
        border-radius: 2px;
        background-color: var(--clr-light-grey);
        position: relative;
    }
    
    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        content: '';
        position: absolute;
    }
    
    .nav-toggle-label span::before {
        bottom: 7px;
    }
    
    .nav-toggle-label span::after {
        top: 7px;
    }
    
    /* nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:76px;
  width:1232px; 
  margin: 30px 48px;
}
*/
/* hr{
    height:1px;
    width:414px;
    background: white;
    justify-items: center;
    margin-left:30px; 
    position:absolute;
    top:69px;
    left:167px;
    z-index:2;
   
}
*/
/* .ul-list{
    position: absolute;
    top: 32px ;
    left:580px;
    height: inherit;
    width: 700px;
    background: hsl(0, 0, 100%);
    backdrop-filter:blur(50rem); 
    background:rgba(154, 151, 151, 0.697);
    
}

*/
/* ul{    
    align-items: center;
    justify-content: center;
    height: 25px;
    width:542px;
    position: absolute ;
    top: 22px ;
    left:100px ;  
   
}

*/
/* .flex{
    display:flex;
    justify-content: space-around;
    gap:0px;
}
*/
/* .desk-navigation a> [aria-hidden="true"]{
 font-weight: 700;
 margin-inline-end: .75em; 
 font-family:"Barlow+Condensed",serif ;
 font-size:16px;
 letter-spacing: 2.7;
}
*/
/* li{
    width: 127px;
    border: 2px red solid;
   
}
*/
/* MEDIA QUERY */
/* @media  (max-width:35em){
    .desk-navigation{
        position: fixed;
        inset: 0 0 0 30%;
        background: rgb(180, 112, 70);
        height:100%;
        width:70%;
        flex-direction:column;
        padding:min(30vh,10rem) 2em;
    }
}

*/